
/*MODAL*/

.content-contact{
  width: 50%;
  padding-top: 2rem;
}
.title-contact{
  color: #163262;
}
.valores{
  color:#FF5507;
  font-weight: bolder;
  font-size: 1.1rem;
  padding-top: 0.5rem;
}
.contant-inputs{
  padding-top:5rem;
}
.contant-inputs-medium{
  padding-top: 2rem;
}
.title-input{
  margin-right: 2rem;
  color: #163262;
  font-weight: bolder;
  font-size: 1.1rem;
}
}

.correo{
  margin-right: 3.2rem;
}

.datos{
  border-radius: 50px;
  background-color: #EEEEEE;
  border:none;
  width: 80%;
  height:30px;
  padding-left: 1rem;
  color: #163262;
}
.datos:focus{
  outline-color: transparent !important;
}
.datos-modal{

  background-color:#dbe9ef;
  border:none;
  width: 100%;
  height:30px;
  padding-left: 1rem;
  color: #eee;
}
.datos-modal:focus{
  outline-color: transparent !important;
}
.title-menssage{
  padding-bottom: 1rem;
}
.message{
  border-radius: 30px;
  background-color: #EEEEEE;
  border:none;
  height: 100px;
  width: 100%;
  outline-color: transparent !important;
  resize: none;
  padding-left: 1rem;
  padding-top: 1rem;
  color: #163262;
}
.button-enviar{
  background-color: #ff5507;
  width: 149px;
  height: 42px;
  border-radius: 0 5px 0 5px;
  border:none;
  color: #fff;
  font-family: 'SourceSansPro-Bold';
  box-shadow:2px 2px 2px rgba(193, 193, 193, 0.7);
  margin-top: 55px;
}
.button-enviar-modal{
  background-color: #ff5507;
  width: 149px;
  height: 42px;
  border-radius: 0 5px 0 5px;
  border:none;
  color: #fff;
  font-family: 'SourceSansPro-Bold';
  box-shadow:2px 2px 2px rgba(193, 193, 193, 0.7);
}
.modal-dialog{
  height: 50%;
}
.modal-content{
   border: 1px solid #208cb1;
   border-radius: 2px;
}


.form-container{
  color: #bb171ee6;
  padding: 20px;
  border-radius: 5px;
  background-color: #ffff;
  position: relative;
  left: 50%;
    height:auto;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin-top: 40%;
}
.group-material-login{
    position:relative;
    margin-bottom:25px;
}
.btn-plan {
    float: left;
    margin-top: 5%!important;
  }
.btn-modal{
  box-shadow: 2px 2px 2px #BDBABB;
text-shadow: 3px 0 3px #333;
background: #ca151c;
transition: 1s;
color: #fff;
font-weight: 600;
font-size: 16px;
border: 0;
padding: 10px 25px;
margin-top: 30px;
 text-transform: uppercase;
}
.variations{
  display: flex;
  justify-content: center;
}
.price {
    margin-top: -4%!important;
  }
  /*.btn-plan {*/
  /*  margin-left: 37%!important;*/
  /*}*/
.material-login-control,
.material-control-login{
  background-color: transparent;
  font-size:17px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #fff;
  outline:none;
}
.material-login-control:focus{ outline:none; }
.group-material-login label{
  color:#fff;
  font-size:17px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:all 0.2s ease;
  -moz-transition:all 0.2s ease;
  -webkit-transition:all 0.2s ease;
}
/* float */
input.material-login-control:focus:valid ~ label,
input.material-login-control:valid ~ label{
  top:-18px;
  font-size:13px;
  color:#fff;
}
input.material-login-control:focus:invalid:required,
input.material-login-control:invalid:required{
  outline: none;
  box-shadow: none;
}

.bar-login{
  position:relative;
  display:block;
  width:100%;
}
.bar-login:before, .bar-login:after{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#fff;
  transition:all 0.2s ease;
  -moz-transition:all 0.2s ease;
  -webkit-transition:all 0.2s ease;
}
.bar-login:before
 { left:50%;
  }
.bar-login:after{
  right:50%;
   }
input.material-login-control:focus ~ .bar-login:before,
 input.material-login-control:focus ~ .bar-login:after {
  width:50%;
}
.btn-login{
    background-color: transparent;
    text-align: center;
    border: none;
    box-shadow: none;
    font-size: 19px;
    line-height: 19px;
    color: #fff;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 3%;
    right: 3%;
}
.btn-login:hover{
    border: none;
    box-shadow: none;
}
.btn-login:focus,
.btn-login:active{
    outline: none;
    border: none;
    box-shadow: none;
}
label{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}
.radio-inline label:hover{
    cursor: pointer;
}

select.material-control-login:hover{
    cursor: pointer;
}
.titulo-secciones{
  text-align: center;
  margin-bottom: 1em;
}
.modal-dialog .label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 109%;
    font-weight: 700;
    line-height: 1;
    color: #333;
.border{
    border-bottom: 1px solid #fff
}
.btn-modal {
  border: 1px solid #fff;
  color: #396F81!important;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  text-transform: uppercase;
  background: #FFFFFF;
  text-transform: uppercase;
  transition: .3s;
  margin-left: 450px;
  margin-top: 14px;

}
.btn-modal:hover {
  background: #1E90B4;
  color: #fff!important;
  transition: .3s;
}
.bordes{
    border-top: 1px solid #32A9D0;
  width: 40%;
  text-align: center;
  /* float: left; */
  margin-right: -50px
}
.woocommerce-variation-add-to-cart .variations_button .woocommerce-variation-add-to-cart-enabled{
  text-align: center!important;
}
